@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format('woff2'), url(../fonts/NotoSansKR-Thin.woff) format('woff'), url(../fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'), url(../fonts/NotoSansKR-Light.woff) format('woff'), url(../fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'), url(../fonts/NotoSansKR-Regular.woff) format('woff'), url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'), url(../fonts/NotoSansKR-Medium.woff) format('woff'), url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'), url(../fonts/NotoSansKR-Bold.woff) format('woff'), url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'), url(../fonts/NotoSansKR-Black.woff) format('woff'), url(../fonts/NotoSansKR-Black.otf) format('opentype');
}
* { outline: none; }
*, :after, :before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { font-family: 'Noto Sans KR',Dotum,'돋움',Helvetica,'Apple SD Gothic Neo',sans-serif; font-weight: normal;   }
#header_wrap { width: 100%; height: 72px; border-bottom: 1px solid #424242; position: absolute; z-index: 999; background: rgba(23,23,23,0.5); top:0; }
#header_wrap.stickyheader { position: fixed; top: -70px; background: rgba(23,23,23,1);}
#header { position: relative; width:1400px; margin: 0 auto; }
  #header h1 { float:left; margin-top: 22px;}
  #header ul li { display: inline-block; }
  #header ul li a { color: #ffffff;}
  #header ul.menu { position: absolute; right:350px; top: 27px;}
  #header ul.menu li { margin: 0 40px; }
  #header ul.menu li a { font-size:18px;}
  #header ul.menu li a:hover { transition: all 1.3s; background: linear-gradient(to right, #159957, #155799); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
  #header ul.site { position: absolute; right:0; top: 23px;}
  #header ul.site li { margin-left: 20px; height: 24px; line-height: 20px; }
  #header ul.site li a i { float: left; margin-right: 5px; font-size: 24px;}
  #header ul.site li a { font-size: 14px; color: #7d7d7d;}

#main_visual { width: 100%; height: 800px; background: url(../images/mainbg.png) center top no-repeat; }

#profile { width: 100%; min-width: 1400px; overflow: hidden; }
  #profile .row4 { float: left; width: 25%; padding: 30px 0; font-size: 16px; color: #ffffff; }
  #profile .row4 dl dt { margin-bottom:10px; font-size: 24px; text-align: center; }
  #profile .row4 dl dd { text-align: center; line-height: 160%; }
  #profile .probox01 { background: #000000;}
  #profile .probox02 { background: #777777;}
  #profile .probox03 { background: #555555;}
  #profile .probox04 { background: #333333;}

#project_wrap { width:100%; background: #191919;}
#project { position: relative; width:1400px; height: 800px; margin: 0 auto; padding:120px 0; background: #191919; }
  [class^='projectbox'] { position: absolute;}
  #project .projectbox1 { left:-300px;}
  #project .project_exp { position: absolute; width: 340px; height:460px; background: #222222; padding:40px; color: #ffffff;}
  #project .project_exp .num { position: absolute; top:-60px; right:20px; color:#7d7d7d; opacity: 0.8; font-size: 90px; font-weight: 700; letter-spacing: -1px;}
  #project .project_exp h3 > span { display:block; font-size: 20px; font-weight: 500;}
  #project .project_exp.odd { top: 180px; right:430px;}
  #project .project_exp h3 { font-size: 30px; font-weight: bold; margin-bottom:8px; }
  #project .project_exp p { line-height: 160%; margin-top: 40px; text-align: justify; }
  #project .viewsub { position: absolute; top: 180px; right: 0px; width:420px; height:400px;}
  #project .viewsub ul { overflow: hidden;}
  #project .viewsub ul li {overflow:hidden; cursor: pointer;  }
  #project .viewsub ul li > span { position: relative; display:block; height:50px; padding: 10px 15px; line-height:30px; font-size:17px; color:#ffffff; background:#7d7d7d;}
  #project .viewsub ul li > span:after { font-family: FontAwesome; content:'\f107'; position: absolute; right:20px; top: 10px;}
  #project .viewsub ul li .panel img { width: 420px;} 
  #project .viewsub ul li .panel { height:0; overflow: hidden;} */
  
  .odd > .num { float:right; margin-top:-100px;} 

#respond_wrap { width:100%; background: #333333;}
  #respond { position: relative; width:1400px; height: 800px; margin: 0 auto; padding:120px 0; background: #333333; }
  [class^='respondbox'] { position: absolute;}
  #respond .respondbox1 { right:0px;}
  #respond .project_exp { position: absolute; width: 450px; height:460px; background: #222222; padding:40px; color: #ffffff;}
  #respond .project_exp .num { position: absolute;top:-60px; left:30px; color:#7d7d7d; opacity: 0.8; font-size: 90px; font-weight: 700; letter-spacing: -1px;}
  #respond .project_exp h3 > span { display:block; font-size: 20px; font-weight: 500; margin-bottom:8px; }
  #respond .project_exp.odd { top: 180px; left:0px;}
  #respond .project_exp h3 { font-size: 30px; font-weight: bold;}
  #respond .project_exp p { line-height: 160%; margin-top: 40px; text-align: justify; }

#recently_wrap { width:100%; background: #191919;}
#recently { position: relative; width:1400px; height: 800px; margin: 0 auto; padding:120px 0; background: #191919; }
  [class^='respondbox'] { position: absolute;}
  #recently .respondbox1 { left:-300px;}
  #recently .project_exp { position: absolute; width: 340px; height:460px; background: #222222; padding:40px; color: #ffffff;}
  #recently .project_exp .num { position: absolute; top:-60px; right:20px; color:#7d7d7d; opacity: 0.8; font-size: 90px; font-weight: 700; letter-spacing: -1px;}
  #recently .project_exp h3 > span { display:block; margin-bottom:8px; font-size: 20px; font-weight: 500; }
  #recently .project_exp.odd { top: 180px; right:430px;}
  #recently .project_exp h3 { font-size: 30px; font-weight: bold;}
  #recently .project_exp p { line-height: 160%; margin-top: 40px; text-align: justify; }
  #recently .viewsub { position: absolute; top: 180px; right: 0px; width:420px; height:400px;}
  #recently .viewsub ul { overflow: hidden;}
  #recently .viewsub ul li {overflow:hidden; cursor: pointer;  }
  #recently .viewsub ul li > span { position: relative; display:block; height:50px; padding: 10px 15px; line-height:30px; font-size:17px; color:#ffffff; background:#7d7d7d;}
  #recently .viewsub ul li > span:after { font-family: FontAwesome; content:'\f107'; position: absolute; right:20px; top: 10px;}
  #recently .viewsub ul li .panel img { width: 420px;} 
  #recently .viewsub ul li .panel { height:0; overflow: hidden;} */
  
  .odd > .num { float:right; margin-top:-100px;} 



  
.crossbrowsing { text-align:right !important; font-size:14px; color:#666666;}  
/* 공통클래스 */
.ir { font-size: 0; text-indent: -9999em;}

.fl { float:left; }
.fr { float:right; }
